extends ../layout
block content
    if(edit)
        h1 Mahsulot o'zgartirish
        form( action=`/products/edit/${product.id}` method="POST" enctype='multipart/form-data')
            label(for="nameuz") Name (uzb)
            input(type="text" name="nameuz"  placeholder="Mahsulot nomi (uzb)" value=`${product.name.uz}`)
            label(for="nameru") Name (ru)
            input(type="text" name="nameru" placeholder="Mahsulot nomi (ru)" value=`${product.name.ru}`)
            label(for="nameen") Name (en)
            input(type="text" name="nameen" placeholder="Mahsulot nomi (en)" value=`${product.name.en}`)
            .input
                label(for="image1")
                input(type="file" accept=".png, .jpg, .jpeg" name='image1')
                label(for="image2")
                input(type="file" accept=".png, .jpg, .jpeg" name='image2')
                label(for="image3")
                input(type="file" accept=".png, .jpg, .jpeg" name='image3')
                label(for="image4")
                input(type="file" accept=".png, .jpg, .jpeg" name='image4')
                label(for="image5")
                input(type="file" accept=".png, .jpg, .jpeg" name='image5')
                label(for="image6")
                input(type="file" accept=".png, .jpg, .jpeg" name='image6')
                label(for="image7")
                input(type="file" accept=".png, .jpg, .jpeg" name='image7')
            label(for="fulltextuz") Matni (uzb)
            input(type="text" name="fulltextuz" placeholder="Info (uzb)" value=`${product.fulltext.uz}`)
            label(for="fulltextru") Matni (ru)
            input(type="text" name="fulltextru" placeholder="Info (ru)" value=`${product.fulltext.ru}`)
            label(for="fulltexten") Matni (en)
            input(type="text" name="fulltexten" placeholder="Info (en)" value=`${product.fulltext.en}`)
            label(for="price" ) Narxi
            input(type="number" name="price" placeholder="Narxi" value=`${product.price}`)
            input(type="submit")
    else    
        h1 Mahsulot yaratish
        form( action="/products/add" method="POST" enctype='multipart/form-data')
            label(for="nameuz") Name (uzb)
            input(type="text" name="nameuz" placeholder="Mahsulot nomi (uzb)")
            label(for="nameru") Name (ru)
            input(type="text" name="nameru" placeholder="Mahsulot nomi (ru)")
            label(for="nameen") Name (en)
            input(type="text" name="nameen" placeholder="Mahsulot nomi (en)")
            .input
                label(for="image1")
                input(type="file" accept=".png, .jpg, .jpeg" name='image1')
                label(for="image2")
                input(type="file" accept=".png, .jpg, .jpeg" name='image2')
                label(for="image3")
                input(type="file" accept=".png, .jpg, .jpeg" name='image3')
                label(for="image4")
                input(type="file" accept=".png, .jpg, .jpeg" name='image4')
                label(for="image5")
                input(type="file" accept=".png, .jpg, .jpeg" name='image5')
                label(for="image6")
                input(type="file" accept=".png, .jpg, .jpeg" name='image6')
                label(for="image7")
                input(type="file" accept=".png, .jpg, .jpeg" name='image7')
            label(for="fulltextuz") Matni (uzb)
            input(type="text" name="fulltextuz" placeholder="Info (uzb)")
            label(for="fulltextru") Matni (ru)
            input(type="text" name="fulltextru" placeholder="Info (ru)")
            label(for="fulltexten") Matni (en)
            input(type="text" name="fulltexten" placeholder="Info (en)")
            label(for="price") Narxi
            input(type="number" name="price" placeholder="Narxi")
            input(type="submit")